@import "tailwindcss";

@theme{
   --color-wild-sand: #F7F7F7;
}

@layer components{
    .button{
        @apply bg-black text-white px-6 py-3 rounded-md hover:bg-black/85 cursor-pointer w-fit;
    }

    .noScrollbar::-webkit-scrollbar{
        display: none;
    }

    .scroll-wheel-x {
        scroll-behavior: smooth;
    }
}